<!DOCTYPE html>
<html>
<head>
	<title>Seat Allotment</title>
</head>
<style >
	p{
		margin-top: 170px;
	}
</style>
<body>
	<center>
		<p>
			<form>
				<table  height="100px">
					<tr>
					    <td>
						  	<pre><label>Your Alloted Course is :       </label>{{Course}}</pre>
						</td>
					</tr>
					<tr>
					    <td>
						  	<pre><label>Your Alloted Slot is :         </label>{{AllotedSlot}}</pre>
						</td>
					</tr>
					<tr>
				    <td>
							<pre><label>Your Laboratory:               </label>{{Laboratory}}</pre>
					</td>
					</tr>
					<tr>
				    <td>
							<pre><label>Reporting Time:                </label>9:30 am-4:00 pm</pre>
					</td>
				</tr>
			</table>

		</form>
				<!-- <br>
				<br>
			 <button type="submit"  style="width: 225px">    Freeze Slot!          
			 </button> -->
			
		</p>
		</cener

</body>
</html>