<!DOCTYPE html>
<html>
<head>
	<title>Edit Details/Password</title>
</head>
<body>
	<form action="/details" method='POST'>
	<table width="400px" height="0px">
		</tr>
		<tr>
		<td>
			<h3><label>Edit Your Personal Details:</label></h3>        
			
			
			&nbsp &nbsp &nbsp<label>Name of Student: </label>
			
			
		</td>
		<td>
			
			
			<br>
			<br>
			<br>
			<input type="text" name="name" >
			
			
		</td>
		</tr>

		<tr>
		<td>
			&nbsp &nbsp &nbsp<label>Choose Branch:</label>
			<ul>{% for branch in branches %}
				 	<li>{{ branch }}</li>				
			{% endfor %}
			</ul>
			</td>
			<td >
			<input type="text" name="branch">
			<br>
			<br> 
			
		</td>
		</tr>
		<tr>
		<td>
			&nbsp &nbsp &nbsp<label>Enrollment No.: </label>
			
		</td>
		<td>
			<input type="number" name="enroll">
		
			
		</td>
		</tr>

		<tr>
		<td>
			&nbsp &nbsp &nbsp<label>Email-Id : </label>
			
		</td>
		<td>
			<input type="text" name="email">
			
		</td>
		</tr>

		<tr>
		<td>
			&nbsp &nbsp &nbsp<label>Mobile No.: </label>
			<br>
			
		</td>
		<td>
			<input type="number" name="mobileNo">
			<br>
			
			
		</td>
		</tr>

		</tr>
		<tr>
		<td>
			<br>
			<h3><label>Edit Your Password:</label></h3>        
			
			
			&nbsp &nbsp &nbsp<label>Your Current Password: </label>
			<br>
			</td>
		<td>
			<br>
			<br>
			<br>
			<br>
			
			<input type="password" name="oldPass">

			

		</td>
	</tr>
	<tr>
		<td>
		&nbsp &nbsp &nbsp<label>Your New Password: </label>
			</td>
		<td>
			
			<input type="password" name="newPass">
			
			
		</td>
		</tr>

			
		</table>
		<br>
		<br>
		<center>
			<form action="{{url_for('details')}}">

  			<input type="password" name="password" placeholder="Please Specify Old Password " style="width:180px " />
  			
 			<input type="submit" value="Submit Changes"  onclick="return confirm('Are you sure you want to update changes?')"/>
			
			</form>
			<button type="reset" style="float:center"> Reset Changes</button>
						 
			</center>

			 

</form>
		
</body>
</html>